.LEFT *.text {
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}

.CENTER *.text {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.RIGHT *.text {
    -fx-text-alignment: right;
    -fx-alignment: center-right;
}

.JUSTIFY *.text {
    -fx-text-alignment: justify;
    -fx-alignment: justify;
}

