#root{
}

.all{
	-fx-border-color: darkgray;
	-fx-border-radius: 4;
	-fx-border-width: 1;
}
.button{
	-fx-pref-width: 30;
}

.button:selected{
    -fx-background-color: gray;
}

.button:unselected{
    -fx-background-color: white;
}

#boldTB{
	 -fx-font-weight: bold;
}

#italicTB{
	 -fx-font-style: italic;
}

#underlineTB{
	 -fx-underline: true;
}

.color-picker{
	-fx-color-label-visible: false;
	-fx-pref-width: 10;
}

.color-picker > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: null;
    -fx-fill : null;
}

#textAlignmentCB{
	-fx-pref-width: 5;
	-fx-pref-height: 5;
}